<!DOCTYPE html>
<html>
<head>
  <title>LetterOpenerWeb</title>
  <%= stylesheet_link_tag    "letter_opener_web/application", :media => "all" %>
  <%= javascript_include_tag "letter_opener_web/application" %>
  <%= javascript_include_tag 'https://raw.github.com/indirect/jquery-rails/master/vendor/assets/javascripts/jquery_ujs.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
